@page "/units"
@using InventoryCRM.Data
@using InventoryCRM.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject InventoryCRM.Services.UnitService UnitService
@inject InventoryCRM.Services.DepositService DepositService
@inject IAuthorizationService AuthorizationService
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Units</PageTitle>

<h1>Units</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @errorMessage
        <button type="button" class="btn-close" @onclick="() => errorMessage = null"></button>
    </div>
}

<div class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" @bind="unitToFind"
               placeholder="Enter the name of unit" />
        <button class="btn btn-secondary" @onclick="(FindUnit)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" margin="8" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            Find Unit
        </button>
        <AuthorizeView Policy="CanMoveUnits">
            <Authorized>
                <button class="btn btn-primary" @onclick="(OpenCreateUnitForm)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>
                     Create Unit
                </button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>


@if (isFormVisible)
{
    <div class="modal-backdrop" @onclick="() => isFormVisible = false"></div>

    <div class="centered-modal">
        <EditForm Model="newUnit" OnValidSubmit="CreateUnit">
            <div class="mb-3">
                <h3>Create New Unit</h3>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            <button class="btn-close btn-close-black position-absolute top-0 end-0 m-3" aria-label="Close" @onclick="() => isFormVisible = false"></button>
            <div >
                <div class="mb-2">Name:</div>
                <InputText @bind-Value="unitName" class="form-control" />
            </div>
            <div>
                <div class="mb-2">Quantity:</div>
                <InputNumber @bind-Value="unitQuantity" class="form-control" />
            </div>
            <div>
                <div class="mb-2">Deposit:</div>
                <InputSelect @bind-Value="unitDepositId" class="form-control">
                    <option value="">Select Deposit</option>
                    @foreach (var deposit in allDeposits)
                    {
                        <option value="@deposit.Id">@deposit.Name - @deposit.Id</option>
                    }
                </InputSelect>
            </div>
        </EditForm>
    </div>
}

@if (isAddQuantityFormVisible)
{
    <div class="modal-backdrop" @onclick="() => isAddQuantityFormVisible = false"></div>

    <div class="centered-modal">
        <EditForm Model="newUnit" OnValidSubmit="AddUnitQuantity">
            <div class="mb-3">
                <h3>Add Quantity To Unit</h3>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            <button class="btn-close btn-close-black position-absolute top-0 end-0 m-3" aria-label="Close" @onclick="() => isAddQuantityFormVisible = false"></button>
            <div>
                <div class="mb-2">Name:</div>
                <InputText @bind-Value="unitName" class="form-control" readonly />
            </div>
            <div>
                <div class="mb-2">Quantity:</div>
                <InputNumber @bind-Value="unitQuantity" class="form-control" />
            </div>
            <div>
                <div class="mb-2">Deposit:</div>
                <InputSelect @bind-Value="unitDepositId" class="form-control">
                    <option value="">Select Deposit</option>
                    @foreach (var deposit in allDeposits)
                    {
                        <option value="@deposit.Id">@deposit.Name - @deposit.Id</option>
                    }
                </InputSelect>
            </div>
        </EditForm>
    </div>
}

@if (units == null)
{
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p><em>Loading units...</em></p>
    </div>
}
else if (units.Count == 0)
{
    <div class="text-center">
        <p><em>There is no units, You can create a new one</em></p>
    </div>
}
else
{
    <div class="list-group">
        @foreach (var unit in units)
        {
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>@unit.Name</strong>
                    <small class="text-muted"> (@unit.Quantity)</small>
                </div>
                <AuthorizeView Policy="CanMoveUnits">
            <Authorized>
                <button type="button" class="btn btn-link p-0 minimalist-plus-btn" @onclick="() => OpenAddQuantityForm(unit)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                </button>
                    </Authorized>
                </AuthorizeView>
            </div>
        }
    </div>
}


@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    private bool canMoveUnits;

    private List<Unit>? units;
    private List<Deposit>? allDeposits;
    private string? errorMessage;

    private string unitToFind = string.Empty;

    private Unit newUnit = new Unit();
    private Guid unitId = Guid.Empty;
    private string unitName = string.Empty;
    private int unitQuantity = 0;
    private Guid unitDepositId = Guid.Empty;
    private static readonly Guid unitDefaultDepositId = Guid.Parse("00000000-0000-0000-0000-000000000001");

    private bool isFormVisible = false;
    private bool isAddQuantityFormVisible = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadUnits();

        var authState = await authenticationStateTask;
        canMoveUnits = (await AuthorizationService.AuthorizeAsync(authState.User, "CanMoveUnits")).Succeeded;
    }

    private async Task LoadUnits()
    {
        try
        {
            units = await UnitService.GetAllUnitsNameAndQuantityAsync();
            allDeposits = await UnitService.GetDepositIdAsync();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error loading deposits: {ex.Message}");
        }
    }

    private void OpenCreateUnitForm()
    {
        isFormVisible = true;
        unitDepositId = unitDefaultDepositId;
    }

    private async Task CreateUnit()
    {
        var authState = await authenticationStateTask;
        var isAuthorized = (await AuthorizationService.AuthorizeAsync(authState.User, "CanMoveUnits")).Succeeded;

        if (!isAuthorized)
        {
            errorMessage = "You do not have permission to move units.";
            return;
        }

        if (string.IsNullOrWhiteSpace(unitName))
        {
            errorMessage = "You must enter a name before saving.";
            return;
        }

        try
        {
            await UnitService.CreateUnitsAsync(unitName, unitQuantity, unitDepositId);
            unitName = string.Empty;
            unitQuantity = 0;
            await LoadUnits();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error creating unit: {ex.Message}");
        }
    }

    private async Task UpdateUnit()
    {
        try
        {
            await UnitService.UpdateUnitAsync(unitId, unitName, unitQuantity);
            unitId = Guid.Empty;
            unitName = string.Empty;
            unitQuantity = 0;
            await LoadUnits();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error creating unit: {ex.Message}");
        }
    }

    private async Task FindUnit()
    {
        if (!string.IsNullOrWhiteSpace(unitToFind))
        {
            try
            {
                units = await UnitService.FindUnitsAsync(unitToFind);
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine($"Error finding unit: {ex.Message}");
            }
        }
        else
        {
            await LoadUnits();
        }
    }

    private async void OpenAddQuantityForm(Unit unit)
    {
        var authState =  await authenticationStateTask;
        var isAuthorized = (await AuthorizationService.AuthorizeAsync(authState.User, "CanMoveUnits")).Succeeded;

        if (!isAuthorized)
        {
            errorMessage = "You do not have permission to move units.";
            return;
        }

        unitId = unit.Id;
        unitName = unit.Name;
        unitQuantity = 0;
        unitDepositId = Guid.Parse("00000000-0000-0000-0000-000000000001");


        isAddQuantityFormVisible = true;
    }

    private async Task AddUnitQuantity()
    {
        // Implement the logic to add quantity to the unit
        // This could involve showing a modal to input the quantity to add
        // and then calling a service method to update the unit's quantity

        bool isUnitInDeposit = await UnitService.IsUnitInDepositAsync(unitId, unitDepositId);
        Unit rawUnit = await UnitService.GetUnitsAsync(unitId);
        int rawQuantity = rawUnit.Quantity;

        Console.WriteLine($"Is unit in deposit: {isUnitInDeposit}");

        if (isUnitInDeposit)
        {
            unitQuantity += rawQuantity;
            await UpdateUnit();
        }
        else
        {
            await CreateUnit();
        }

    }
}
